parameters:
    level: 6 # from 0 to 8, or 'max' as an alias for the highest level
    treatPhpDocTypesAsCertain: false
    paths:
        - src/main
        - src/test
    bootstrapFiles:
        - vendor/webarchitect609/bitrix-taxidermist/resources/autoload-dist.php
